<style>
    .table {
        display: table;
    }

    .row {
        display: table-row;
    }

    .col {
        display: table-cell;
        width: 150px;
    }
</style>

<div class="table">
    <div class="row" *ngFor="let st of students; let i = index; let o=odd" [style.background-color]="o? 'yellow': ''">
        <div class="col">No.{{i+1}} </div>
        <div class="col">{{st.Id}} </div>
        <div class="col">{{st.Name}} </div>
        <div class="col">
            {{st.Birthday | date:"MM-dd-yyyy"}}
        </div>
    </div>
</div>