<style>
    .table {
        display: table;
    }

    .row {
        display: table-row;
    }

    .col {
        display: table-cell;
        width: 150px;
    }
</style>

<div class="table">
    <div class="row" *ngFor="let st of students; let i = index; let o=odd" [style.background-color]="o? 'yellow': ''">
        <div class="col">No.{{i+1}} </div>
        <div class="col">{{st.Id}} </div>
        <div class="col">{{st.Name}} </div>
        <div class="col">
            {{st.Birthday | date:"MM-dd-yyyy"}}
        </div>
        <div class="col">
            <ng-container [ngSwitch]="st.Birthday.getMonth()">
                <span *ngSwitchCase="3" style="color:red">
                    本月壽星</span>
                <span *ngSwitchCase="4" style="color:blue">
                    生日快到了!!</span>
                <span *ngSwitchDefault style="font-size: x-small">
                    在等等吧!!</span>
            </ng-container>
        </div>

    </div>
</div>