<style>
  ul li {
    display: inline;
  }

  ul li a {
    padding: 0 5px
  }
</style>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>


  <ul>
    <li><a href='page1'>Property Binding</a></li>
    <li><a href='page2'>Attr Binding</a></li>
    <li><a href='page3'>Class綁定</a></li>
    <li><a href='page4'>Event綁定</a></li>
    <li><a href='page5'>ngModel</a></li>
  </ul>
</div>
<!-- <SearchBox [searchText]="mySearch" (searchTextChange)="mySearch=$event"></SearchBox> -->
<SearchBox [(searchText)]="mySearch"></SearchBox>
<h3 *ngIf="mySearch.length>0">找到了
  {{mySearch}} !! </h3>

<hr>
<router-outlet></router-outlet>