<form #form="ngForm" autocomplete="off">
    <input type="hidden" name="ID" [value]="service.formData.id">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-door-open"></i>

                </div>
            </div>
            <input name="Name" class="form-control" placeholder="會議室名稱" required #name="ngModel"
                [(ngModel)]="service.formData.name">
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
                <select name="size" class="form-control" required #size="ngModel" [(ngModel)]="service.formData.size">
                    <option value="-1">--- 請選擇會議室容納人次 ---</option>
                    <option *ngFor="let cap of this.capacity" [ngValue]="cap.value"
                        [selected]="cap.value==service.formData.size">
                        {{cap.text}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <input type="checkbox" aria-label="Checkbox for following text input" name="projector"
                                #projector="ngModel" [(ngModel)]="service.formData.projector">
                        </div>
                    </div>
                    <label class="form-control">
                        <i class="fas fa-video"></i>投影機</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <input type="checkbox" aria-label="Checkbox for following text input" name="tv"
                                #tv="ngModel" [(ngModel)]="service.formData.tv">
                        </div>
                    </div>
                    <label class="form-control">
                        <i class="fas fa-tv">電視</i></label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" type="submit" 
                    [disabled]="form.invalid">
                       <i class="fas fa-database"></i> Submit
                </button>
            </div>
            
        </div>

    </div>
</form>