<style>
    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42A948;
        /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #a94442;
        /* red */
    }
</style>

<div class="container" *ngIf="!submitted">
    <h1>Meeting Room Form</h1>
    <form #roomForm="ngForm" (ngSubmit)="onSubmit(roomForm)">
        <div class="form-group">
            <label for="name">名稱</label>
            <input type="text" class="form-control" [(ngModel)]="meetingRoom.name" #name="ngModel" required name="name">
            <div *ngIf="name.invalid" class="alert alert-danger">
                名稱欄位不可空白
            </div>

        </div>
        <div class="form-group">
            <label for="size">容納人數</label>
            <select class="form-control" [(ngModel)]="meetingRoom.size" name="size">
                <option *ngFor="let cap of capacity" [value]="cap">{{cap}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="projector">投影機</label>
            <input type="checkbox" class="form-control" [(ngModel)]="meetingRoom.projector" name="projector">
        </div>
        <div class="form-group">
            <label for="TV">電視</label>
            <input type="checkbox" class="form-control" [(ngModel)]="meetingRoom.TV" name="TV">
        </div>
        <button type="button" class="btn btn-primary" (click)="newMeetingRoom(); roomForm.reset()">
            新增會議室</button>

        <button type="submit" class="btn btn-success" [disabled]="roomForm.form.invalid">Submit</button>
    </form>
    {{meetingRoom | json}}
</div>
<div class="container" *ngIf="submitted">
    <h2>以下是你提交的資訊:</h2>
    <div class="table">
        <div class="row">
            <div class="col-4">名稱: </div>
            <div class="col-6">{{meetingRoom.name}}</div>
        </div>
        <div class="row">
            <div class="col-4">容納人數: </div>
            <div class="col-6">{{meetingRoom.size}}</div>
        </div>
        <div class="row">
            <div class="col-4">投影機: </div>
            <div class="col-6">{{meetingRoom.projector}}</div>
        </div>
        <div class="row">
            <div class="col-4">電視: </div>
            <div class="col-6">{{meetingRoom.TV}}</div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="submitted=false">編修</button>
    <br>
</div>